@font-face {
	font-family: 'GentiumBasic-Regular';
	src: local('☺'), url('../fonts/GentiumBasic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: local('☺'), url('../fonts/helvetica_bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: local('☺'), url('../fonts/helvetica_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad-Pro';
	src: local('☺'), url('../fonts/Myriad-Pro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad-Pro';
	src: local('☺'), url('../fonts/Myriad-Pro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'regitalic';
	src: local('☺'), url('../fonts/regitalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}