.nav {
  padding-left: 24px;

  // flex: 1 1 auto;
    

  &__item {
    margin-right: 34px;

      
    @media (max-width: 1050px) {
      margin-right: 29px;  
    }

    @media (max-width: 968px) {
      margin-right: 14px;  
    }

    @media (max-width: 968px) {
      margin-right: 3px;  
    }

    &:last-child {
      margin-right: 0;
    }  
  }


  &__menu {
    display: flex;

    &-link {
      font-family: $header-font;
      font-weight: 400;
      font-size: 20px;
      color: $white;
      text-decoration: none;
      

      transition: color .1s linear;
      
      @media (max-width: 1050px) {
        margin-right: 20px;
        font-size: 15px;
      }

      @media (max-width: 630px) {
        font-size: 14px;
      }



      &:hover {
        color: $red;
      }
    }
  }
}