.quote {
  padding-top: 410px;
  padding-bottom: 124px;

  background-image: url(../img/pin.png);
  background-repeat: repeat;
  background-position: 0 0;


  &__inner {
    display: flex;
    justify-content: space-around;
  }


  &__text {
    margin-left: 57px;
    position: relative;
    max-width: 494px;

    font-size: 22px;
    line-height: 36px;
    text-align: center;

    color: $white;

    &::before,
    &::after {
      content: "“";
      position: absolute;

      font-family: 'GentiumBasic-Regular';
      font-size: 250px;

      opacity: 0.08;
    }

    &::before {
      top: 78px;
      left: -111px;
    }

    &::after {
      bottom: 50px;
      right: -61px;

      transform: rotate(180deg);
    }
  }


  &__title {
    margin-right: 23px;
    margin-top: 45px;

    max-width: 200px;

    font-family: 'regitalic';
    font-size: 53px;
    line-height: 36px;
    transform: rotate(-15deg);
  }
}