.slider-item {
  margin: 0 auto;
  text-align: center;
}

.slider-title {
  margin-bottom: 49px;

  font-size: 26px;
  text-transform: uppercase;
  color: $white;
}

.slider-text {
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 26px;
  letter-spacing: 0.1px;
  line-height: 41px;

  max-width: 820px;
}

.slider-btn {
  margin-left: 13px;
  & a+a {
    margin-left: 44px;
  }
}