.social {
  display: flex;

  &__link {
    margin-left: 16px;
  }

  &__icon {
    display: block;

    width: 25px;
    height: 25px;

    fill: $red;

    transition: fill .1s linear;

    &:hover {
      fill: $white;
    }

    @media (max-width: 892px) {
      display: none;
    }

  }
}