<header class="header">

  <div class="container">

    <div class="header__inner">

      <a class="logo" href="#">Yoo<span class="logo-postfix">pin</span></a>

      <div class="header__burger">
        <span class="header__burger-figure"></span>
      </div>

      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item"><a class="nav__menu-link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__menu-link" href="#">Pages</a></li>
          <li class="nav__item"><a class="nav__menu-link" href="#">Features</a></li>
          <li class="nav__item"><a class="nav__menu-link" href="#">Extensions</a></li>
          <li class="nav__item"><a class="nav__menu-link" href="#">Tutorials</a></li>
          <li class="nav__item"><a class="nav__menu-link" href="#">Contact us</a></li>
        </ul>
      </nav>

      <div class="social">

        <a class="social__link" href="twitter.com" target="_blank">
          <svg class="social__icon">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>

        <a class="social__link" href="facebool.com" target="_blank">
          <svg class="social__icon">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>


        <a class="social__link" href="google.com target=" _blank">
          <svg class="social__icon">
            <use xlink:href="#google-p"></use>
          </svg>
        </a>


        <a class="social__link" href="pinterest.com" target="_blank">
          <svg class="social__icon">
            <use xlink:href="#pinterest"></use>
          </svg>
        </a>

      </div><!-- social__link -->

    </div><!-- /.header__inner -->
  </div><!-- container -->

</header>