<section class="intro">

  <div class="container">

    <div class="intro__inner">

      <div class="intro__title">delivering the quality work Affordable</div>

      <div class="intro__slider">

        <button class="intro__arrow intro__arrow--prev" type="button" id="intro-arrow-prev">
          <svg class="intro__arrow-icon">
            <use xlink:href="#arrow"></use>
          </svg>
        </button>
        <button class="intro__arrow intro__arrow--next" type="button" id="intro-arrow-next">
          <svg class="intro__arrow-icon">
            <use xlink:href="#arrow"></use>
          </svg>
        </button>

        <div class="slider" id="intro-slider">
          <div>
            <div class="slider-item">
              <div class="slider-title">Power by Andrew Fl@ber</div>
              <div class="slider-text">
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                Aenean
                euleo quam.
              </div>
              <div class="slider-btn">
                <a class="btn btn--white" href="#">View more</a>
                <a class="btn btn--white" href="#">Contact us</a>
              </div>
            </div><!-- slider-item -->
          </div>


          <div>
            <div class="slider-item">
              <div class="slider-title">Power by Andrew Fl@ber</div>
              <div class="slider-text">
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                Aenean
                euleo quam.
              </div>
              <div class="slider-btn">
                <a class="btn btn--white" href="#">View more</a>
                <a class="btn btn--white" href="#">Contact us</a>
              </div>
            </div><!-- slider-item -->
          </div <div>
          <div class="slider-item">
            <div class="slider-title">Power by Andrew Fl@ber</div>
            <div class="slider-text">
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
              Aenean
              euleo quam.
            </div>
            <div class="slider-btn">
              <a class="btn btn--white" href="#">View more</a>
              <a class="btn btn--white" href="#">Contact us</a>
            </div>
          </div><!-- slider-item -->
        </div </div> <!-- slider -->

      </div><!-- intro__slider -->


    </div><!-- intro__inner -->

  </div><!-- container -->

</section><!-- intro -->