<section class="news">

  <div class="container">

    <div class="news__inner">

      <div class="news__title">Latest News and Event</div>

      <div class="news__list">

        <div class="news__item">
          <img class="news__photo" src="assets/img/item-1.jpg" alt="news-photo">

          <div class="news__content">
            <div class="news__content-title">Akita Inu Dog</div>
            <p class="news__content-text">
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor
              sit
              amet, consectetur
            </p>
            <a class="news__content-link  btn  btn--red" href="#">View more</a>
          </div>

        </div><!-- news__item -->

        <div class="news__item">
          <img class="news__photo" src="assets/img/item-2.jpg" alt="news-photo">

          <div class="news__content">
            <div class="news__content-title">Akita Inu Dog</div>
            <p class="news__content-text">
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor
              sit
              amet, consectetur
            </p>
            <a class="news__content-link  btn  btn--red" href="#">View more</a>
          </div>

        </div><!-- news__item -->

        <div class="news__item">
          <img class="news__photo" src="assets/img/item-3.jpg" alt="news-photo">

          <div class="news__content">
            <div class="news__content-title">Akita Inu Dog</div>
            <p class="news__content-text">
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor
              sit
              amet, consectetur
            </p>
            <a class="news__content-link  btn  btn--red" href="#">View more</a>
          </div>

        </div><!-- news__item -->


      </div><!-- news__content -->

    </div><!-- news__inner -->

  </div><!-- container -->

</section>