<section class="products">

  <div class="container">

    <div class="products__title">Our Products</div>

    <p class="products__text">
      Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    </p>

    <div class="products__content">

      <div class="products__item">

        <div class="products__item-descr">

          <div class="products__item-title">Akita Inu Dog</div>

          <p class="products__item-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
            lacus vel augue
          </p>

          <a class="btn  btn--white" href="#">View more</a>

        </div><!-- products__item-descr -->

        <div class="products__item-img  products__item-img-left"></div>

      </div><!-- products__item -->

      <div class="products__item">

        <div class="products__item-descr">

          <div class="products__item-title">Akita Inu Dog</div>

          <p class="products__item-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
            lacus vel augue
          </p>

          <a class="btn  btn--white" href="#">View more</a>

        </div><!-- products__item-descr -->

        <div class="products__item-img  products__item-img-right"></div>

      </div><!-- products__item -->

    </div><!-- products__content -->

  </div><!-- container -->

</section>