<section class="video">

  <div class="container">

    <div class="video__title"><span class="video__title-pref">Watch</span> our new video</div>

    <div class="video__content">

      <div class="video__btn-wrap">

        <button class="video__btn" type="button">
          <svg class="video__play">
            <path d="M0.000,-0.000 L13.000,12.000 L0.000,24.000 L0.000,-0.000 Z" />
          </svg>
        </button>

      </div><!-- video__btn-wrap -->

    </div><!-- video__content -->

  </div><!-- container -->

</section>