<section class="welcome wrapper">
  <div class="container">
    <div class="welcome__inner">

      <div class="welcome__title">Welcome to the YooPin Services</div>

      <div class="welcome__text">
        Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
        auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta
        gravida at eget metus.Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
      </div>

      <div class="welcome__feature">

        <div class="welcome__feature-item">
          <div class="feature__img  feature__img-one"></div>
          <div class="feature__title">Feature one</div>
          <div class="feature__text">
            Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            dolor auctor.Donec id elit non mi porta gravida at eget metus.
          </div>
        </div><!-- welcome__feature-item -->

        <div class="welcome__feature-item">
          <div class="feature__img  feature__img-two"></div>
          <div class="feature__title">Feature two</div>
          <div class="feature__text">
            Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            dolor auctor.Donec id elit non mi porta gravida at eget metus.
          </div>
        </div><!-- welcome__feature-item -->

        <div class="welcome__feature-item">
          <div class="feature__img  feature__img-three"></div>
          <div class="feature__title">Feature three</div>
          <div class="feature__text">
            Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            dolor auctor.Donec id elit non mi porta gravida at eget metus.
          </div>
        </div><!-- welcome__feature-item -->

      </div><!-- welcome__feature -->
    </div><!-- welcome -->
    <div class="quote">

      <div class="quote__text">Welcome to Fitness Center, where our goal is to transform your life into a healthy
        one. We are equipped with top notch staff and the best equipment to `</div>
      <div class="quote__title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ceo Signature</div>

    </div><!-- quote -->
  </div>
</section>