<section class="welcome__outter">

  <div class="container">

    <div class="welcome">

      <div class="welcome__inner">

        <div class="welcome__title">Welcome to the YooPin Services</div>

        <div class="welcome__text">
          Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
          auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta
          gravida at eget metus.Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet
          rutrum faucibus dolor auctor.
        </div>

        <div class="welcome__item">

          <div class="welcome__item-content">
            <div class="welcome__item-img  welcome__item-img--one"></div>
            <div class="welcome__item-title">Feature one</div>
            <div class="welcome__item-text">
              Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
              dolor auctor.Donec id elit non mi porta gravida at eget metus.
            </div>
          </div>

          <div class="welcome__item-content">
            <div class="welcome__item-img  welcome__item-img--two"></div>
            <div class="welcome__item-title">Feature two</div>
            <div class="welcome__item-text">
              Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
              dolor auctor.Donec id elit non mi porta gravida at eget metus.
            </div>
          </div>

          <div class="welcome__item-content">
            <div class="welcome__item-img  welcome__item-img--three"></div>
            <div class="welcome__item-title">Feature three</div>
            <div class="welcome__item-text">
              Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
              dolor auctor.Donec id elit non mi porta gravida at eget metus.
            </div>
          </div>

        </div><!-- welcome__item -->

      </div><!-- welcome__inner -->

    </div><!-- welcome -->

  </div><!-- container -->

</section><!-- welcome__outter -->